@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>You MUST add a stylist before you try to add clients!</h4>
<h4>Visit the stylist page to add a stylist: @Html.ActionLink("Stylist Page", "Create", "Stylists").</h4>
<br>
<h2>Add a New Client</h2>
<br>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ClientName)
  @Html.TextBoxFor(model => model.ClientName)
<br><br>
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")<br><br>

  <input type="submit" class="button" value="Add Client">
}
<br><br>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>