@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1>Edit</h1>
<h3>Edit client: @Html.DisplayFor(model => model.ClientName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.ClientName)
  @Html.EditorFor(model => model.ClientName)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" class="button" value="Save" />
}
<p>@Html.ActionLink("Back to Client List", "Index")</p>