@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1>Edit</h1>
<h3>Edit client: @Html.DisplayFor(Model => model.ClientName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  @Html.LabelFor(model => model.ClientName)
  @Html.EditorFor(model => model.ClientName)

  @Html.LableFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <br><br>
  <input type="submit" class="button" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>