@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h1>Clients:</h1>

@if (@Model.Count == 0)
{
  <h3>No clients at the moment.</h3>
}

else
{
  <ul>
    @foreach(Client client in Model)
    {
      <li>@Html.ActionLink($"{client.ClientName}", "Details", new {id = client.ClientId}) | stylist: @client.Stylist.StylistName</li>
    }
  </ul>
}
<p>@Html.ActionLink("Add New Client", "Create")</p>
<br>
<p>@Html.ActionLink("Home", "Index", "Home")</p>